.container {
    background: #256398;
}
.row {
    color: red;
}
.btn-group-vertical {
    height: 70vh;
    background-color: #3185CB;
    color: white;
    
    border: 5px solid #256398;
    border-radius: 10px;
}
.btn-group-vertical h1 {
    margin-left: 10%;
}
.btn-group-vertical button {
    
    background: transparent;
    color: white;
    border: 0;
    border-radius: 10px;
    width: 100%;
}
.btn-group-vertical button:hover {
    background: #FF633C;
    color: #ffffff;
}
.add-poems, .add-cartoons, .add-movies {

    color: #ffffff;
    padding: 20px;
}